absl-py==1.4.0
accelerate==0.17.1
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==0.4.3
altair==5.0.1
antlr4-python3-runtime==4.8
async-timeout==4.0.2
attrs==23.1.0
backports.zoneinfo==0.2.1
blinker==1.6.2
boto3==1.26.148
botocore==1.29.148
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
charset-normalizer
click==8.1.3
coloredlogs==15.0.1
cryptography
decorator==5.1.1
decord==0.6.0
diffusers==0.12.1
einops==0.3.0
filelock==3.12.0
flatbuffers==23.5.26
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.19.1
google-auth-oauthlib==1.0.0
grpcio==1.54.2
gspread==5.9.0
huggingface-hub==0.15.1
humanfriendly==10.0
idna
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==6.6.0
importlib-resources==5.12.0
imutils==0.5.4
invisible-watermark==0.1.5
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jpeg4py==0.1.4
jsonschema==4.17.3
kornia==0.6.0
lazy_loader==0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.22.3
oauthlib==3.2.2
omegaconf==2.1.1
onnx==1.14.0
onnxruntime==1.15.0
# opencv-contrib-python==4.7.0.72
opencv-python==4.5.5.64
# opencv-python-headless==4.7.0.72
packaging==23.1
pandas==2.0.2
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
protobuf==4.23.2
psutil==5.9.5
pudb==2019.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser
pydantic==1.10.8
pydeck==0.8.1b0
pyDeprecate==0.3.1
Pygments==2.15.1
Pympler==1.0.1
pynvml==11.5.0
pyOpenSSL
pyrsistent==0.19.3
PySocks
python-dateutil==2.8.2
python-dotenv==1.0.0
python-on-whales==0.60.1
pytorch-lightning==1.4.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
rdp==0.8
regex==2023.6.3
requests
requests-oauthlib==1.3.1
rich==13.4.1
rsa==4.9
s3transfer==0.6.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
six
smmap==5.0.0
streamlit==1.23.1
streamlit-drawable-canvas==0.8.0
sympy==1.12
tabulate==0.9.0
tbparse==0.0.7
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch #==1.12.0
torch-fidelity==0.3.0
torchmetrics==0.6.0
torchvision #==0.12.0
tornado==6.3.2
tqdm==4.65.0
transformers==4.25.1
typer==0.9.0
typing_extensions
tzdata==2023.3
tzlocal==4.3
urllib3
urwid==2.1.2
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
Werkzeug==2.3.4
yarl==1.9.2
zipp==3.15.0
